* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9BA4AC;
    --secondary-color: #191919;
    --tertiary-color: #007C89;
}

body {
    background-color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER STYLE START */
header {
    background-color: var(--secondary-color);
    padding: 22px 43px 22px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


header h1 {
    font-weight: bold;
    font-size: 3.5vw;
    padding: 3px 15px 3px 90px;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    margin: 0;
    display: flex;
    justify-content: space-between;

}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav li {
    display: inline;
    padding-right: 15px;
}


header nav ul li a {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 4px solid var(--tertiary-color);

}

header a:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    transition: ease-in .3s; 
}

/* HERO IMAGE */

.hero {
    background-image: url("../images/dust.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 45px;

}

.hero div {
    width: 88%;
    text-align: right;
    margin-bottom: 20px;

}

.hero h2 {
    font-weight: bold;
    font-size: 1.8vw;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    display: inline-block;
    padding: 7px;
    margin-bottom: 15px;

}

/* ABOUT ME SECTION */
.container {
    width: 90%;
    margin: 0 auto 0 auto;

}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    margin-bottom: 50px;
    min-height: 10vw;

}

.info div {
    flex: 0 0 74%;
}


.info h2 {
    display: flex;
    text-align: right;
    align-items: flex-start;
    justify-content: flex-end;
    border-right: 3.5px solid var(--secondary-color);
    margin: 0;
    padding: 0 10px 0 20px;
    flex: 0 0 22%;
    font-size: 3vw;
}

.info p {
    margin-bottom: 30px;
}

.self {
    display: flex;
    justify-content: center;
}

.self img {
    margin-bottom: 30px;
    height: 17vw;
    width: 17vw;
    border-radius: 50%;
}

/* WORK SECTION STYLE */


.grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
}

.grid-item
{
    border: 5px solid var(--tertiary-color);
    grid-column: span 4;
    background-color: var(--secondary-color);
    color: var(--tertiary);
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
}

.grid-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.grid-item div {
    background-color: var(--tertiary-color);
    padding: 8px 10px;
    flex: 0 0 30%;
}

.grid-item h3 {
    font-size: 1.6rem;
    margin: 0px;
}





/* BACKGROUND IMAGES */

.run-buddy {
    background-image: url("../images/run-buddy.jpg");
}

.coming-soon {
    background-image: url("../images/coming-soon.jpg");
    background-size: contain;



}

/* CONTACT ME SECTION */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact address {
    height: 100%;
}

.contact div address  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
}

.contact address a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5vw;
    padding: 5px 5px;
    margin-bottom: 10px;
    border-bottom: 4px solid var(--secondary-color);
}

.contact a:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    transition: ease-in .3s;
}

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 20px 0;
        justify-content: center;
      }
    
    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
        justify-content: center;
    }
    
    header nav ul {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    header nav ul li a{
        margin: 5px;
        display: inline-block;
    }

    .hero div {
        width: 100%;
        text-align: center;
    }

    .hero h2{
        font-size: 4.5vw;
    }
    
    .info > h2,
    .info > div {
        flex: 0 0 100%;
        justify-content: flex-start;
        text-align: left;
        width: 100%;
    }

    .info > h2 {
        border-right: none;
        border-bottom: 4px solid var(--secondary-color);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 7vw;
    }

}

@media screen and (max-width: 768px) {
    .grid-item,
    .grid-item:first-child {
      grid-column: 1 / -1;
    }
  
    .grid-container {
      grid-auto-rows: minmax(200px, 1fr);
    }
  
    .hero {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }

    .contact address a{
        font-size: 2vw;
    }

  }
  